<%- include("partials/header.ejs") %>


<h1>Blog Name: <%=nameb %> </h1>
<h3>Author: <%=namea %> </h3>

<p>
<%=namet %>
</p>


<h3>EDIT </h3>

<form action="/blog" method="POST">

    <textarea name="updatetext" class="feedback-input" placeholder=<%=namet %> id="blogText" required value ="PUT" ></textarea>
    <input type="submit" value="Submit">
  </form>






<%- include("partials/footer.ejs") %>

