<%- include("partials/header.ejs") %>


<h1>Blog List</h1>


  <a href="/blog">   <%=nameb[0] %> by <%=namea[0] %>  </a>
  <br>
  <a href="/blog2">   <%=nameb[1] %> by <%=namea[1] %>  </a>
  <br>
  <a href="/blog3">   <%=nameb[2] %> by <%=namea[2] %>  </a>




<%- include("partials/footer.ejs") %>

